<img src="https://synth.epyk.me/image-magick/app?output=image&quality=2&color=%23111827&background=%23ffffff&time={{ time | default('15:28') }}&percentage={{ batteryPercentage | default('50') }}&battery_fill=white&bolt=false&network=WiFi&signal=2" alt="Status Bar">
